body{
    background-color: #E4E3FD;
}
*{
}


.login-form{
 
    border: 5px solid #777;
    border-radius: 20px;
    padding: 10rem;
    width: 50% !important;
    background-color: #e7e7e7;
    padding:50px;
}
.success-message {
   float: right;
   z-index: 3;
   position: absolute;
   /*newly added*/
   right: 5px;
   /*newly added*/
   top: 5px;
   /*newly added*/
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#e7e7e7;
}
.logo{
flex:0.5;
}
.nav-links > ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-links > ul > li{
    padding: 20px;
    list-style: none;
}
.content-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.content-list{
    display: unset;
}
.movies-grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.movies-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.movies-list>.movie-container {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 300px; */
    /* height: 500px; */
    background-color: #71707D;
    width: 95%;
}
.movies-list>.movie-container>.movie-image {
    flex:.5;
}
.movies-list>.movie-container > .movie-details{
    flex:1;
}

.movies-grid > .movie-container{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 300px;
    /* flex-basis: auto; */
    height: 500px;
    background-color: #71707D;
}
@media only screen and (max-width:1022px){
    .movies-grid>.movie-container {
        width: 40%;
        /* flex-basis: auto; */
    }
}
@media only screen and (max-width:576px) {
    .movies-grid>.movie-container {
        width: 49%;
        /* flex-basis: auto; */
    }
}

.movie-details > a{
    background-color:#9B98FD !important;
    border: 1px solid #918ef8 !important;
}
.movie-details > p{
    white-space: nowrap;
    overflow-x: scroll;
}
::-webkit-scrollbar{
    display: none;
}
.movie-container > .movie-image{
    /* width: 100%;
    height: 70%; */
    padding:1rem;
    flex: 1;
    background-color: #4D4B7D;
}
.movie-image > img{
    display: block;
    margin:auto;
    height: 100%;
    object-fit: contain;
    max-width: 100%;
}
.movie-container > .movie-details{
    color:#e7e7e7 !important;
    flex:0.5;
    padding: 20px 0px;
}
.movie-list{
    display: flex;
    flex-flow: row;
    width: 100%;
    flex-wrap: wrap;
}

.movie-list > .movie-list-item{
    margin: .5rem;
    width: 100%;
    display: flex;
    background-color: #E4E3FD;
}
.movie-list-item > .list-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 250px; */
    flex:0.2;
    background-color: #e7e7ee;
}
.list-img > img{
    width:250px;
    object-fit: contain;
    /* height: 100px; */
}
.movie-list-item > .list-details{
    flex: 1.5;
    /* background-color:#777; */
    display: flex;
    justify-content: space-around;
}
.list-details > .movie-details{
    background-color: #777;
    color:whitesmoke;
    flex: 0.9;
}

.input{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid aliceblue;
}

.movie-list-item>.movie-actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e7e7ee;
    flex:0.25 !important;
}
.movie-details-container{
    display: flex;
    flex-wrap: wrap;
    /* height: 100vh; */
}
.movie-details-container > .movie-banner{
    background-color: #e7e7e7;
    /* display: flex; */
    /* align-items: center; */
    /* flex:1; */
}
.movie-details-container > .movie-reviews{
   background-color: #E4E3FD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:2;
    min-height: 91vh;
}
.movie-banner{
  
}
.movie-banner > img{
    width:100%;
}
.detail-item{
    display: flex;
    margin-bottom:20px;
}
.detail-item > .detail-title{
    flex:1;
}
.detail-item > .detail-input{
    flex:2;
}
.detail-input{
    color:white;
}
.errors{
    padding:20px !important;
    margin-right: 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid #842029;
}
.message{
    position:absolute !important;
}
.actor-data{
    list-style: none;
    padding: 0!important;
}
.review{
    background-color: #f8f9fa !important;
    margin: 5px 10%;
    /* padding: 1rem; */
    border-radius: 20px;
    border: 5px solid #ACAD9C;
    color: #202036;
}
.review > .user-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ACAD9C;
    border-radius: 10px;
    padding:.5rem;
}
.review > .comment{
    padding:1rem;
}
@media only screen and (max-width: 768px) {
    .movie-list-item{
        flex-wrap: wrap;
        flex-direction: column;
        font-size: small !important;
    }
    .detail-title{
        font-size: medium;
        margin-right:10px ;
    }
    .movie-actions{
        flex-direction: row !important;
        justify-content: space-around;
    }
    .movie-banner{
        width:100%;
    }
}
.page-actions{
    background-color: #e1e1e1;
    display: flex;
    justify-content: space-between;
}
.page-actions>.display-mode{
    padding: 5px;
    display: flex;
}
.display-mode > i{
    padding: 10px;
    background-color: #eee;
    margin:auto 2px;
    border: 1px solid #202036
}

i{
    display: inline !important; 
    color:#202036;
}
.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
.search-input{
    display: inline !important;
    padding:.5rem;
    border:0;
    border-bottom: 2px solid #202036;
    width: unset !important;
    background-color: transparent;
}
.active{
    filter:brightness(80%);
}
input:focus{
    outline:0;
}
.logo > h3 > a{
    text-decoration: none;
    color:#842029;
}
