.login-form{
 
    border: 5px solid #777;
    border-radius: 20px;
    padding: 10rem;
    width: 50% !important;
    background-color: #e7e7e7;
    padding:50px;
}
.success-message {
   float: right;
   z-index: 3;
   position: absolute;
   /*newly added*/
   right: 5px;
   /*newly added*/
   top: 5px;
   /*newly added*/
}