html{
    scroll-behavior: smooth;
    scrollbar-color: #FCA311;
}
body{
    background-color: #FFFFFF !important;
}
#index-banner{
    width: 100%;
    justify-content: center;
    height: 70%;
    text-align: center;
    /* background-image:  */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/bg-1.png");
    color: white;
    border-radius: 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:  #FCA311 !important;
}
#menu{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/menu-2.jpg");
    color: white;
    height: 40%;
    border-radius: 0px;
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;

}